<a href="https://colab.research.google.com/github/rafiag/DTI2020/blob/master/Introduction%20to%20Python/006_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Research Center Digital Business Ecosystem - Telkom University*


---

# **Pandas**
Pandas is an open-source library that is made mainly for working with relational or labeled data both easily and intuitively. It provides various data structures and operations for manipulating numerical data and time series. This library is built on the top of the NumPy library. Pandas is fast and it has high-performance & productivity for users.

In [1]:
# Import Pandas
import pandas as pd

## **Series**
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

In [2]:
# Import Numpy
import numpy as np 

# Creating empty series  
ser = pd.Series()  
print(ser)

Series([], dtype: float64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

In [3]:
# simple array  
data = np.array(['g', 'e', 'e', 'k', 's'])  
    
ser = pd.Series(data)  
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

## **DataFrame**
Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns

In [4]:
# Calling DataFrame constructor 
df = pd.DataFrame() 
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
# list of strings 
lst = ['Geeks', 'For', 'Geeks', 'is', 
			'portal', 'for', 'Geeks'] 
	
# Calling DataFrame constructor on list 
df = pd.DataFrame(lst) 
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [6]:
# Dataframe from a csv data
df_csv = pd.read_csv("https://raw.githubusercontent.com/rc-dbe/intro-python/master/data/bank-marketing.csv", sep= ";")

In [7]:
# Show the first 5 row
df_csv.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [8]:
# Select a Colomn 
age = df_csv[['age']]
type(age)

pandas.core.frame.DataFrame